/* ----------------
    RESET
---------------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* ----------------
    GENERAL
---------------- */
.row{
    display: flex;

}

.container{
    margin: 0 auto;
    max-width: 1380px; 
}

img{
    max-width: 100%;
}

/* ----------------
    HEADER
---------------- */
header{
    background-color: #FF6900;
    color: #ffffff;
}

header .container .row{
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

ul{
    list-style: none;
    display: flex;
}

li a{
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
}

.logo img{
    height: 30px;
    transform: translate(-50%, 10%);
}

i{
    cursor: pointer;
}

/* ----------------
    MAIN
---------------- */
.col-33{
    width: calc(100%/3);
    margin: 50px 10px;
    margin-bottom: 10px;
    position: relative;
}

.row div.col-33:first-child{
    margin-left: 0;
}

.row div.col-33:last-child{
    margin-right: 0;
}

.price-o{
    text-decoration: line-through;
}

.price-n{
    color: red;
    font-weight: 700;
    margin-right: 3px;
}

.tag{
    position: absolute;
    display: flex;
    bottom: 90px;
}

.percentuale{
    background-color: red;
    color: #ffffff;
    font-size: 14px;
    padding: 4px 8px;
    margin-right: 4px;
}

.sost{
    background-color: green;
    color: #ffffff;
    padding: 4px 8px;
    font-size: 14px;
}

.like, .like-red{
    position: absolute;
    right: 20px;
    top: 20px;
}

.like-red{
    color: red;
    display: none;
}

.col-33:hover .like-red{
    display: block;
}

.col-33:hover .like{
    display: none;
}

.col-33 img.hover{
    display: none;
}

.col-33:hover img.hover{
    display: inline-block;
}

.col-33:hover img.default{
    display: none;
}

/* ----------------
    FOOTER
---------------- */

footer{
    background-color: #1A1A1A;
    color: white;
    margin-top: 30px;
}

footer .container{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

footer h3, footer h6{
    margin-bottom: 16px;
}

h6{
    font-size: 14px;
}

.social{
    font-size: 24px;
}
