/* ----------------
    RESET
---------------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* ----------------
    RESET
---------------- */
.row{
    display: flex;

}

/* ----------------
    GENERAL
---------------- */
.container{
    margin: 0 auto;
    max-width: 1200px;
}

img{
    max-width: 100%;
}

/* ----------------
    HEADER
---------------- */
header{
    background-color: #FF6900;
    color: #ffffff;
}

header .container .row{
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.category ul{
    list-style: none;
    display: flex;
}

li a{
    color: #ffffff;
    text-decoration: none;
    margin: 0 8px;
}

.logo img{
    height: 30px;
}

i{
    cursor: pointer;
}

/* ----------------
    MAIN
---------------- */
.col-33{
    width: calc(100%/3);
    margin: 50px 10px;
    margin-bottom: 10px;
}

.price-o{
    text-decoration: line-through;
}

.price-n{
    color: red;
    font-weight: 700;
    margin-right: 3px;
}


